name: CI

env:
  PIPELINE_ORG_NAME: scalingpythonml
  PIPELINE_REPO_NAME: learning-dask-pipeline
  GH_PAT: ${{ secrets.GH_PAT }}

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: ${GITHUB_WORKSPACE}/.github/workflows/trigger_book_build.sh
